.author,
.type {
  color: inherit;
  cursor: pointer;
  text-decoration: underline !important;
  text-decoration-color: var(--ifm-color-gray-600) !important;
  text-decoration-style: dotted !important;
  white-space: nowrap;
}

.author:hover,
.type:hover {
  text-decoration-color: inherit !important;
}

.filters {
  display: flex;
}

.filterId {
  text-transform: capitalize;
}

.filterRemove {
  cursor: pointer;
}

.input {
  background-color: var(--ifm-color-gray-100);
  border-radius: 999rem;
  border: none;
  font-size: 1rem;
  outline: none;
  padding-bottom: 0.75em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.75em;
  width: 100%;
}

.inputContainer {
  margin-bottom: 1.5em;
}

.link {
  text-transform: capitalize;
  white-space: nowrap;
}

.table {
  font-size: 0.875rem;
}

.tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tag:hover {
  --ifm-badge-border-color: var(--ifm-color-emphasis-500);
  cursor: pointer;
}
