.container {
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  display: flex;
  flex-direction: row;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.periodContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.periodIcon,
.periodText {
  color: var(--ifm-color-emphasis-600);
}

.smallNote {
  color: var(--ifm-color-emphasis-600);
  margin-top: 0.5em;
}
