.facultyContainer {
  padding-left: 1rem;
  padding-right: 1rem;
}

.facultyInnerContainer {
  background-color: var(--ifm-color-gray-100);
}

.facultyImageContainer {
  text-align: center;
  padding-top: 1rem;
}

.facultyImage {
  border-radius: 99rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  width: 10rem;
}
