.innerContainer {
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  height: 100%;
}

.image {
  border-radius: 99rem;
  height: 7.5rem;
  object-fit: cover;
  object-position: top;
  width: 7.5rem;
}

.researchInterests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
